# CW/Ninja
/Codebase/cw/
Codebase/build.ninja
Codebase/ninja.exe

# Build directories
/Codebase/_build
/Codebase/_map
/Codebase/bin

# Loader objects
Codebase/loader/kamekLoader.o
Codebase/loader/nsmbw.o
Codebase/loader/loader.xml
Codebase/loader/loader.bin
/Codebase/_map
/Codebase/cw/

/Tools/**/.vs
/Tools/**/bin
/Tools/**/obj

# Python cache/compiled modules
*.pyc
__pycache__/

/.vscode
