# CW/Ninja
/PropelParts/cw/
PropelParts/build.ninja
PropelParts/ninja.exe

# Build directories
/PropelParts/_build
/PropelParts/_map
/PropelParts/bin

# Loader objects
PropelParts/loader/kamekLoader.o
PropelParts/loader/nsmbw.o
PropelParts/loader/loader.xml
PropelParts/loader/loader.bin

# Python cache/compiled modules
*.pyc
__pycache__/

/.vscode
.DS_Store
